<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sportsv">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".kakaosdk.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppLoginActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".common.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.SettingVideoUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".youtubeupload.StartUploadActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".youtubeupload.UploadService"
            android:exported="true" />
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".AppJoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InsLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InsJoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InsInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".team.TeamActivity" />
        <activity
            android:name=".viewpage.ViewPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".test.GridViewTest" />
        <activity android:name=".test.GridViewTest2" />
        <activity android:name=".team.TeamManageActivity"></activity>
    </application>

</manifest>